/* H5BP styles. */
@import "../vendor/h5bp/css/style.css";

/* Add Stylus stylesheets here, alll files ending in .styl will be compiled!
 * For example: @import "main.styl";
 *
 * Note: All stylesheets are relative to `assets/css`.
 *
 */ 

/* bbb stylus fails; no targets found */
/*@import "main.styl";*/

/* Put development-only CSS below this line. */
/* .. well yeah, except bbb stylus task won't build */ 

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.ui-draggable {}
.ui-draggable-dragging {}
.ui-state-active { background-color: #cccccc; }


#main {
	width: 850px;
	margin: 25px auto;
}

/* need to fix broken layout class layouts/main etc. */


#wall {
	float: left;
	/*border: 1px solid black;*/
	width: 700px;
	height: 700px;
	margin-right: 50px;
}

#labels, #items { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid red;
}

#items div { position: absolute; }

.target {
	position: relative;
	width: 700px;
	height: 700px;
}

#menu { 
	float: left;
	width: 100px;
	border: 1px solid red;
}

#menu ul { 
	list-style: none;
	margin: 0;
	padding: 0;
}

#labels p { position: relative; text-align: center; font-weight: bold; }

#top { top: -40px;  }
#bottom { top: 650px; } /* these numbers seem a bit screwy */
#left { left: -360px; top: 210px; }
#right { left: 360px; top: 240px; }

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}