/* H5BP styles. */
@import "../vendor/h5bp/css/style.css";

/* Add Stylus stylesheets here, alll files ending in .styl will be compiled!
 * For example: @import "main.styl";
 *
 * Note: All stylesheets are relative to `assets/css`.
 *
 */ 

/* bbb stylus fails; no targets found */
/*@import "main.styl";*/

/* Put development-only CSS below this line. */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.ui-draggable {}
.ui-draggable-dragging {}

.ui-droppable { width: 100%; height: 100%; }
.ui-state-active { background-color: #cccccc; }


#main {
	width: 850px;
	margin: 25px auto;
}

/* need to fix broken layout class layouts/main etc. */


#wall {
	float: left;
	/*border: 1px solid black;*/
	width: 700px;
	height: 700px;
	margin-right: 50px;
}

#menu { 
	float: left;
	width: 100px;
	border: 1px solid red;
}

#menu ul { 
	list-style: none;
	margin: 0;
	padding: 0;
}