body
  font 8px Helvetica, Arial, sans-serif
  background red
  
a.button
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px

/*
.ui-draggable {}
.ui-draggable-dragging {}
.ui-state-active { border: 1px solid red; }
*/